---
import Layout from "@/layouts/Layout.astro";
import GlassHeader from "@/components/GlassHeader";
import HeroSection from "@/components/HeroSection.astro";
import ExperienceSection from "@/components/ExperienceSection.astro";
import SkillsSection from "@/components/SkillsSection.astro";
import ProjectsSection from "@/components/ProjectsSection.astro";
import EducationSection from "@/components/EducationSection.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <GlassHeader client:load />
  <main class="min-h-screen">
    <HeroSection />
    <ExperienceSection />
    <SkillsSection />
    <ProjectsSection />
    <EducationSection />
  </main>
  <Footer />
</Layout>
